<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Trail Link Automation Test Suite">
<listeners>
       <listener class-name="traillink.reports.CaptureScreenshot"/>
  </listeners>
  <test name="Test">
    <classes>
      <class name="traillink.tests.TC_01_Registration"/>
      <class name="traillink.tests.TC_02_SearchTrail"/>
      <class name="traillink.tests.TC_03_UpdateProfile"/>
      <class name="traillink.tests.TC_04_LoginNegativeCases"/>
      <class name="traillink.tests.TC_05_RegistrationNegativeCases"/>
      <class name="traillink.tests.TC_06_UploadPhotosAndVerifyCount"/>
     <class name="traillink.tests.TC_07_CreateTrailAndVerifyCount"/>
     <class name="traillink.tests.TC_08_GiveReviewsOnTrailsAndVerifyCount"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
